// font family
@import url(https://use.typekit.net/nfw0nok.css);
body { font-family: "lato", sans-serif }

// font icon
@import url(https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css);

@import "@/assets/scss/index.scss";
@import "@/assets/scss/plugin/dropdown";
@import "@/assets/scss/plugin/pagination";
@import "@/assets/scss/plugin/toastr";

// demo styling
.container-compact {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 100%;
  width: 960px;
}
$container-max-widths: (
  "xl": 960px,
  "lg": 960px,
  "md": 960px,
  "sm": 720px,
  "xs": 540px,
  "xxs": 100%
);
@each $breakpoint, $value in $breakpoints {
  @media (max-width: $value) {
    .container-compact {
      width: map-get($container-max-widths, $breakpoint);
    }
  }
}
